* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #5e4934;
}

.logo {
    border-radius: 50%;
    width: 100px;
    border: #8B6E5C solid 1px;
}

.logo2 {
    width: 33%;
}

.barra {
    color: #fbeddc;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;  
    width: 33%;
}

.navarriba {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.listahome {
    margin-right: 10px;
    margin-left: 10px;
}

.forms {
    color: #fbeddc;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: right;
    font-size: 70%;
    width: 33%;
}

.abajo {
    text-decoration: none;
    color: #8B6E5C;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: center top;
    font-size: 70%;
    background-color: #fff9f2;
    text-align: center;
}

.productosycategoria{
    text-decoration:none;
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
    font-size: 75%;
    text-align:left;
}

.categorymenu{
    list-style-type: none;
    text-decoration:none;
    padding: 5px;
    margin-right: 20px;
    width:150px;
    border: 20px;
    text-decoration:none;
    background-color:#fbeddc;
    color:#8B6E5C;
}

a{
    text-decoration:none;
    color:#8B6E5C;
}

.contenido {
    display: flex;
    align-items: flex-start;
}

.tituloproductos {
    color: #5e4934;
    margin-bottom: 20px;
    text-decoration: underline;
}

.productosaleatorios {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.productos {
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid rgb(115, 83, 41);
    width: 250px;
    margin-right: 10px;
}

.imagenes {
    width: 215px;
    height: 250px;
}

.boton {
    background-color: #5e4934;
    color: #fbeddc;
    padding: 10px;
}

.productosmasvendidos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}