* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
}

body{
    background-color: #fff9f2;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #5e4934;
}

.logo {
    border-radius: 50%;
    width: 100px;
    border: #8B6E5C solid 1px;
}

.logo2 {
    width: 33%;
    order: 1;
}

.barra {
    color: #fbeddc;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;  
    width: 33%;
}

.navarriba {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
}

.navheader{
    order: 3;
    width: 33%;
}

.listahome {
    margin-right: 10px;
    margin-left: 10px;
}

.forms {
    display: flex;
    justify-content: center;
    width: 33%;
    order: 2;
}

.formsinput{
    width: 200px;
    padding: 5px;
    border: 1px solid #8B6E5C;
    border-radius: 5px;
}

.formsbutton{
    padding: 10px;
    background-color: #8B6E5C;
    color: #fbeddc;
    border-radius: 5px;
}

.abajo {
    text-decoration: none;
    color:#fff9f2;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: center top;
    font-size: 100%;
    background-color: #8B6E5C;
    text-align: center;
    padding: 15px;
}

.productosycategoria{
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
    font-size: 100%;
    text-align: left;
    padding: 20px;
}

.categorymenu{
    list-style-type: none;
    text-decoration:none;
    padding: 5px;
    margin-right: 20px;
    width: 200px;
    border: 20px;
    text-decoration:none;
    background-color:#fbeddc;
    color:#8B6E5C;
}

a{
    text-decoration:none;
    color:#8B6E5C;
}

.contenido {
    display: flex;
    align-items: flex-start;
}

.tituloproductos {
    color: #5e4934;
    margin-bottom: 20px;
    text-decoration: underline;
    margin-top: 20px;
}

.productosaleatorios {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.productos {
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid rgb(115, 83, 41);
    width: 250px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 500px;
}

.imagenes {
    width: 215px;
    height: 250px;
}

.boton {
    background-color: #5e4934;
    color: #fbeddc;
    padding: 10px;
    width: 90px;
}

.productosmasvendidos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.imagenfija{
    width: 400px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.contenidoproduct {
    display:flex;
    flex-direction: column;
    padding: 20px;
}

.imagen {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.caracteristicas_product { 
    margin-left:40px;
    font-size: 18px;
}

.parrafocaracteristicas{
    margin-bottom: 15px;
    color: #5e4934;
}

.tituloreviews{
    color:#5e4934;
    text-decoration:underline;
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
    font-size: 110%;
    margin-bottom: 20px;
}

.titulolampara{
    color:#5e4934;
    text-decoration:underline;
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
    font-size: 130%;
    margin-bottom: 20px;
}

.textopiniones {
    color:#5e4934;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 90%;  
    margin-bottom: 5px; 
}

.parraforeviews {
    margin-bottom: 5px;
}

.reviews {
    background-color: #fbeddc;
    margin-top: 20px;
    padding: 20px;
}

.productoscategoria{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.titulocategoria{
    color: #5e4934;
    margin-bottom: 20px;
    text-decoration: underline;
    margin-top: 20px;
}

.contpadrelog {
    display:flex; 
    flex-direction: row;
    align-items: center;
    padding: 20px;
}

.formulariolog {
    background-color: #8b6e5cef;
    color:#fbeddc;
    padding: 30px;
    border-radius: 5px;
    margin-left: 20%;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.registrateaca{
    color: #fbeddc;
}

.notengocuenta{
    text-align: center;
}

.formlogin{
    display: flex;
    flex-direction: column;
    width: 400px;
}

.inputlogin{
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
}

.contenidoform {
    display:flex;
    flex-direction: column;
    text-align:left;
    margin-bottom: 10px;
}
.botonform {
    padding: 15px;
    background-color: #fbeddc;
    color:#5e4934;
    border-radius: 5px; 
    width: 140px;
    align-self: center;
}

.mainregistro{
    padding: 20px;
    display: flex;
    flex-direction: row;
}

.seccionregistro{
    background-color: #8b6e5cef;
    color:#fbeddc;
    padding: 30px;
    border-radius: 5px;
    margin-left: 20%;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formregistro {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.labelregistro {
    color:#fff9f2;
    margin-bottom: 5px;
}

.inputregistro {
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
}

.terminos {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

.cuentaexistente {
    text-align: center;
    margin-top: 20px;
    color: #fbeddc;
}
